[Desktop Entry]
Name=Odio
Comment=Audio compression tool for FLAC
Categories=GNOME;AudioVideo;GTK;
Exec=/usr/bin/odio
Icon=/usr/share/icons/hicolor/scalable/apps/odio.svg
StartupNotify=true
Terminal=false
Type=Application
X-Ubuntu-Gettext-Domain=odio
